
/CivNexus6.iml
/bin/Release/Firaxis.Collections.dll
/bin/Release/System.Xml.dll
/bin/Release/Firaxis.Reflection.dll
/bin/Release/Firaxis.CivTech.Impl.dll
/bin/Release/System.Windows.Forms.dll
/bin/Release/Firaxis.Granny.Impl.dll
/bin/Release/CivNexus6.exe
/bin/Release/Firaxis.Error.dll
/bin/Release/Firaxis.Granny.dll
/bin/Release/Firaxis.CivTech.dll
/bin/Release/Firaxis.Utility.dll
/bin/Release/Firaxis.MathEx.dll
/bin/Release/Microsoft.VisualC.dll
/bin/Release/CivNexus6.pdb
/bin/Release/Firaxis.IO.dll
/bin/Release/System.dll
/bin/Release/System.Drawing.dll
/.vs/
